@model WebApplication1.Models.sınıflar.TurTarihRU
@{
    ViewBag.Title = "AciklamaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Tarih Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("TarihGüncelle", "TurTarihRU", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    @Html.HiddenFor(x => x.tarihID)
    
     <br/>
         @Html.LabelFor(x=>x.tarih)
         <input placeholder="Tur Tarihi" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="tarih"/>
        <br />

   
    
    <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>

</div>
}

